<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/header :: header}">

</head>
<style>

    body{
        min-width:600px;
        overflow:visible;
    }
</style>
<body class="bg-light">
<div class="container">
<div class="row justify-content-center container" >
    <div class="col-2 shadow ">
        <ul class="nav ">
            <li class="nav-link border-bottom ">
                <a class=" text-dark h5 menu" id="loadaction">用户管理</a>
            </li>
            <li class="nav-link border-bottom">
                <a class="text-secondary menu" id="catalogmune">分区管理</a>
            </li>
            <!--<li class="nav-link border-bottom">-->
                <!--<a class="text-secondary menu" id="tipoffmune">举报管理</a>-->
            <!--</li>-->
            <!--<li class="nav-link border-bottom">-->
                <!--<a class="text-secondary menu">提议新建分区</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class=" col-10" id="AdminIndex">
</div>
</div>

</div>


<div th:replace="~{fragments/footer :: footer}">...</div>

<script>

    // DOM 加载完再执行
    $(function() {

        $("#loadaction").click(function() {
            var url = "users/userlist";

            // 加载list模块的页面到工作区
            $.ajax({
                url: url,
                contentType : 'application/json',
                data:{
                    "pageIndex":0,
                    "pageSize":5,
                },
                success: function (data) {
                    //console.log(data);
                    $("#AdminIndex").html(data);
                },
                error: function () {
                    alert("error");
                }
            });
        });


    $("#catalogmune").click(function() {
        var url = "/catalogs/unOpenCatalogs";

        // 加载list模块的页面到工作区
        $.ajax({
            url: url,
            contentType : 'application/json',
            data:{
                "pageIndex":0,
                "pageSize":5,
            },
            success: function (data) {
                //console.log(data);
                $("#AdminIndex").html(data);
            },
            error: function () {
                alert("error");
            }
        });
    });


        $(document).on("click",".menu", function () {
            var th=$(this);
            var all = $(this).parent().parent().find(".menu");
            all.attr("class", "text-secondary menu");
            $(this).attr("class", "text-dark h5 menu");
        });


    $("#loadaction").trigger("click");
    })


</script>
</body>
</html>