<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/header :: header}">

</head>
<style>

    body{
        min-width:600px;
        overflow:visible;
    }
</style>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-center container" >

        <button type="button" data-toggle="modal" data-target="#userClose" th:id="userCloseList" class=" btn btn-outline-danger mt-2 btn-sm  btn-block" id="delBlogBut">封号名单</button>
        <!--<div class="col-2 shadow ">-->
            <!--<ul class="nav ">-->
                <!--<li class="nav-link border-bottom">-->
                    <!--<a class="text-secondary menu" id="tipoffmune">举报管理</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class=" col-12" >
            <div id="AdminIndex">
            <table class="table table-hover" style="text-align: center">
                <thead>
                <tr>
                    <th scope="col" width="10rem">id</th>
                    <th scope="col" width="80rem">举报者</th>
                    <th scope="col" width="120rem">被举报者</th>
                    <th scope="col" width="20rem">类型</th>
                    <th scope="col" width="160rem">原因</th>
                    <th scope="col" width="80rem">微博</th>
                    <th scope="col" width="160rem">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tipoff : ${model.tipoffList}">
                    <th scope="row"  th:text="${tipoff.id}">1</th>
                    <td th:text="${tipoff.formUsername}">Mark</td>
                    <td >
                        <span th:text="${tipoff.toUsername}">Otto</span>
                        <button  th:if="${tipoff.toUserIsClosed} == 0" th:id="closeUser" type="button " th:data-toUsername="${tipoff.toUsername}" class="btn btn-success btn-sm" >封</button>
                    </td>
                    <td th:text="${tipoff.type}">Otto</td>
                    <td th:text="${tipoff.reason}">Otto</td>
                    <td>
                        <a class="text-white"  target="_blank" th:href="'/u/'+${tipoff.blogOwner}+'/blogs/'+${tipoff.blogId}">
                        <button type="button " class="btn btn-success btn-sm" >前往</button>
                        </a>
                    </td>
                    <td>
                        <button type="button " data-toggle="modal" data-target="#handler" th:data-tipoffId="${tipoff.id}" th:data-toUsername="${tipoff.toUsername}" class="btn btn-success handlerTipoff btn-sm" >处理</button>
                        <button type="button "  th:data-tipoffId="${tipoff.id}" class="btn btn-success btn-sm ignore" >忽略</button>
                        <button type="button " th:if="${tipoff.type=='blog'}" th:data-tipoffId="${tipoff.id}" th:data-type="${tipoff.type}" th:data-id="${tipoff.blogId}" class="btn btn-success btn-sm handlerDel" >强删</button>
                        <button type="button " th:if="${tipoff.type=='comment'}" th:data-tipoffId="${tipoff.id}" th:data-type="${tipoff.type}"  th:data-id="${tipoff.commentId}" class="btn btn-success btn-sm handlerDel" >强删</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div th:replace="fragments/page :: pagehtml">...</div>
            </div>
        </div>
    </div>


    <!-- 举报Modal -->
    <div class="modal fade" id="handler" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">请操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <input id="handlerTipoffId" readonly hidden>
                    <div>用户 【<span id="handlerUsername">cs</span>】的评分为： <span id="handlerUserScore">666</span></div>
                    <label class="col-form-label">请选择要扣多少分(若减去后值小于0则默认为0)</label>
                    <select  id="selectScore">
                        <option value="0">0</option>
                        <option value="5">-5</option>
                        <option value="10">-10</option>
                        <option value="20">-20</option>
                        <option value="30">-30</option>
                        <option value="40">-40</option>
                        <option value="50">-50</option>
                        <option value="60">-60</option>
                        <option value="70">-70</option>
                        <option value="80">-80</option>
                        <option value="90">-90</option>
                        <option value="100">-100</option>
                    </select>

                </div>
                <div class="modal-footer">
                    <button type="button" id="closeTipoffBut" class="btn btn-outline-secondary"  data-dismiss="modal">关闭</button>
                    <button type="button" id="tipoffBut" class="btn btn-outline-info" >确定</button>
                </div>
            </div>
        </div>
    </div>


    <!-- 封号名单Modal -->
    <div class="modal fade" id="userClose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">请操作</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span class="d-inline-block" th:width="120px">
                    <input type="text" class="form-control bg-light" id="UnCloseUsername" placeholder="输入要解封的用户名">
                    </span>
                    <button type="button" th:id="UnCloseBut" class="btn btn-outline-primary btn-sm">解封</button>
                <hr>
                    <div th:id="closeUserListDiv">
                    <span class="badge badge-info mr-1">用户名用户名</span>
                    <span class="badge badge-info mr-1">用户名用户名</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="~{fragments/footer :: footer}">...</div>

<script>

    // DOM 加载完再执行
    $(function() {

// 根据用户名、页面索引、页面大小获取用户列表
        function getTipoff(pageIndex, pageSize) {

            // alert($("#searchName").val());
            $.ajax({
                url: "/supervise",
                contentType : 'application/json',
                data:{
                    "pageIndex":pageIndex,
                    "pageSize":pageSize,
                    "async":true
                },
                success: function(data){
                    //$("html").html(data)
                    $("#AdminIndex").html(data);
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        }


        //分页
        $(document).on("click", ".pagebutJump", function () {
            var pageIndex=$(this).attr("id")-1;
            getTipoff(pageIndex,5);
        });

        $(document).on("click", ".pagebutNum", function () {
            var pageIndex=$(this).attr("value")-1;
            getTipoff(pageIndex,5);
        });


        $(document).on("click", ".handlerTipoff", function () {
            var toUsername = $(this).attr("data-toUsername");
            $("#handlerUsername").html(toUsername);
            $("#handlerTipoffId").val($(this).attr("data-tipoffId"));
            $.ajax({
                url: "/supervise/userScore/"+toUsername,
                contentType : 'application/json',
                success: function(result){
                    $("#handlerUserScore").html(result.data);
                    //$("#mainContainer").html(data);
                },
                error : function() {
                    toastr.error("error!");
                }
            });

        });


        $("#tipoffBut").click(function(){
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                //默认get请求
                url: "/supervise/editScore",
                method:"POST",
                data:{
                    "username":$("#handlerUsername").text(),
                    "score":$("#selectScore option:selected").val(),
                    "tipoffId":$("#handlerTipoffId").val()
                },
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code==0) {
                        //从新刷新主界面
                        toastr.info(result.data);
                        getTipoff($(".nowPageIndex").val()-1, 5);
                    } else {
                        toastr.error(result.msg);
                    }
                    $("#closeTipoffBut").click();
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        });







        //忽略举报信息
        $(document).on("click", ".ignore", function () {

            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            var tipoffid=$(this).attr("data-tipoffId")
            $.ajax({
                //默认get请求
                url: "/supervise/ignore",
                method:"POST",
                data:{
                    "tipoffId":tipoffid
                },
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code==0) {
                        toastr.info(result.data);
                        getTipoff($(".nowPageIndex").val()-1, 5);
                    } else {
                        toastr.error(result.msg);
                    }
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        });





        function getCloseUser() {
            $.ajax({
                url: "/supervise/closeUserlist",
                contentType : 'application/json',
                success: function(result){
                    $("#closeUserListDiv").empty();
                    console.log(result)
                    for (var i = 0; i <result.data.length; i++) {
                        $("#closeUserListDiv").append("<span class='badge badge-info mr-1'>"+result.data[i].username+"</span>");
                    }
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        }

        $(document).on("click", "#userCloseList", function () {
            getCloseUser()
        });

        $(document).on("click", "#UnCloseBut", function () {
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                //默认get请求
                url: "/supervise/unclose",
                method:"POST",
                data:{
                    "username":$("#UnCloseUsername").val()
                },
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code==0) {
                        $("#UnCloseUsername").val("")
                        getCloseUser()
                        toastr.success(result.data);
                    } else {
                        toastr.error(result.msg);
                    }
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        });



        $(document).on("click", "#closeUser", function () {
            var closeUsername=$(this).attr("data-toUsername")
            layer.confirm('您确定要封锁该用户吗？封锁后用户的微博与评论将无法被除该用户外的其他人看到！', {
                btn: ['是的', '算了'] //按钮
            }, function (index) {
                // 获取 CSRF Token
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    //默认get请求
                    url: "/supervise/close",
                    method: "POST",
                    data: {
                        "username": closeUsername
                    },
                    beforeSend: function (request) {
                        request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                    },
                    success: function (result) {
                        if (result.code == 0) {
                            toastr.success(result.data);
                            getTipoff($(".nowPageIndex").val()-1, 5);
                        } else {
                            toastr.error(result.msg);
                        }
                    },
                    error: function () {
                        toastr.error("error!");
                    }
                });
                layer.close(index);
            },function () {

            })
        });


        $(document).on("click", ".handlerDel", function () {
            var type=$(this).attr("data-type")
            var id=$(this).attr("data-id")
            var tipoffid=$(this).attr("data-tipoffId")
            layer.confirm('您确定要强删吗？对应类型的数据后，该条举报信息也会被删除', {
                btn: ['是的', '算了'] //按钮
            }, function (index) {
                // 获取 CSRF Token
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    //默认get请求
                    url: "/supervise/handlerDel",
                    method: "POST",
                    data: {
                        "id": id,
                        "type": type,
                        "tipoffId": tipoffid
                    },
                    beforeSend: function (request) {
                        request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                    },
                    success: function (result) {
                        if (result.code == 0) {
                            toastr.success(result.data);
                            getTipoff($(".nowPageIndex").val()-1, 5);
                        } else {
                            toastr.error(result.msg);
                        }
                    },
                    error: function () {
                        toastr.error("error!");
                    }
                });
                layer.close(index);
            },function () {

            })
        });

    })


</script>
</body>
</html>