<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/header :: header}">

</head>
<style>
  .icon-user-good{
    background: url("../../../images/icon-good.png") left top no-repeat;
    background-size: 23px;
  }
  .icon-user-good:hover{
    background: url("../../../images/icon-good-highlight.png")  left top no-repeat;
    background-size: 23px;
  }
  .icon-user-good-had{
      background: url("../../../images/icon-good-highlight.png")  left top no-repeat;
      background-size: 23px;
  }
  .icon-user-collect{
    background: url("../../../images/icon-collect.png") left top no-repeat;
    background-size: 23px;
  }
  .icon-user-collect:hover{
    background: url("../../../images/icon-collect-highlight.png")  left top no-repeat;
    background-size: 23px;
  }
  .icon-user-commit{
    background: url("../../../images/icon-commit.png") left top no-repeat;
    background-size: 23px;
  }
  .icon-user-commit:hover{
    background: url("../../../images/icon-commit-highlight.png")  left top no-repeat;
    background-size: 23px;
  }
</style>
<body class="bg-light">

<div class="container ">
      <div class="row justify-content-center " >
        <div class="col-7 bg-white m-2 shadow-sm" >
<!--          <button style="" type="button" class=" btn btn-outline-primary mt-2 btn-sm  btn-block" id="editBlogBut">修改</button>-->
          <button sec:authorize="isAuthenticated()" type="button" class=" btn btn-outline-danger mt-2 btn-sm  btn-block" id="delBlogBut"></a>删除</button>
          <div class=" m-2 border-bottom pb-2">
            <div class="container">
              <div class="row">
                <div class="col-9" style="padding:0">
                  <a href=""><img th:src="${blog.user.avatar}" src="../../../images/avatarboy.png" alt="" class="avatar-50"></a>
                  <a href="" th:text="${blog.user.username}" class="ml-3 text-success">这是姓名</a>
                  <small class="text-muted">信誉度：</small>
                </div>
                <div class="col-3  mt-2">
                  <small th:text="${#dates.format(blog.createTime,'yyyy.MM.dd HH:mm:ss')}" class="">2010.09.04-14:20</small>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <h3><a href="" th:text="${blog.title}" class="text-dark">标题</a></h3>
              <p th:text="'简介'+${blog.summary}">简介：三生三世嗖嗖嗖所所所所所所所所付所付多所过多付过的孙菲菲是的富商大贾都十点半V型的三国杀广东省高手高手</p>
              <div class="itemimg">
                <span th:each="picture : ${blog.pictures}" >
                  <img th:src=${picture.pictureURL} alt="" class="bigbigpicture"  data-realsrc="./images/test.png">
                </span>
              </div>
              <div class="row pl-3 pt-2 pb-1">
              <a th:if="${currentVote} == null" id="blogSubmitVote"  class=" icon-user-good pl-4"  th:text="*{blog.voteSize}" >222</a>
              <a th:if="${currentVote}" id="blogCancelVote"  class=" icon-user-good-had pl-4" th:attr="voteId=${currentVote.id}" th:text="*{blog.voteSize}" >222</a>
              <a href="" class=" icon-user-collect pl-4 ml-5" data-smsid="填短讯id"></a>
              <a  class=" icon-user-commit pl-4 ml-5" data-smsid="填短讯id" th:text="*{blog.commentSize}">52</a>
              </div>
              <div  class="container text-commit" id="mainContainerRepleace">
                  <div th:if="${hotcomments}!=null">
                  <br>
                  <div id="top10"  class="border-left border-bottom border-primary row">&nbsp;top5</div>
                  <br>
                  <div  th:each="comment,commentStat : ${hotcomments}" th:object="${comment}">
                      <div class="row border-left  mt-2">
                      <div class="col-2" style="padding:0">
                        <div>
                          <a href=""><img src="../../../images/avatarboy.png" alt="" class="avatar-30-co"></a>
                          <a href="" th:href="'/u/'+ *{formUser.username}" class=" text-success" th:text="*{formUser.name}">评论姓名</a>
                        </div>
                        <div >
                          <small th:text="*{#dates.format(createTime,'yy.MM.dd-HH:mm:ss')}" >2010.09.04-14:20</small>
                        </div>

                      </div>
                      <div class="col-8" th:text="*{content}">
                        的发顺丰水电费水电费水电
                      </div>
                      <div class="col-2">

                        <a href="" class=" icon-user-good pl-4 pt-2" data-smsid="填博客id和评论id" th:text="*{voteSize}">23</a>
                          <a href="#replyName" class="reply" th:name="*{formUser.name}" th:data-replyusername="*{formUser.username}">回复</a>
                          <span sec:authorize="isAuthenticated()">
                              <a  th:if="*{content}!='[系统提示：改评论内容已被删除！]'" class="delCommentId" th:attr="data-commentId=*{id}" >删除</a>
                          </span>
                      </div>
                      </div>
                  </div>

                  <br>
                  <div id=""  class="border-left border-bottom border-primary row">&nbsp;最新评论</div>
                  <br>
                  <div   th:each="comment,commentStat : ${timecomments}" th:object="${comment}">
                      <div class="row border-left  mt-2">
                          <div class="col-2" style="padding:0">
                              <div>
                                  <a href=""><img src="../../../images/avatarboy.png" alt="" class="avatar-30-co"></a>
                                  <a href="" th:href="'/u/'+ *{formUser.username}" class=" text-success" th:text="*{formUser.name}">评论姓名</a>
                              </div>
                              <div >
                                  <small th:text="*{createTime}">2010.09.04-14:20</small>
                              </div>

                          </div>
                          <div class="col-8" th:text="*{content}">
                              的发顺丰水电费水电费水电
                          </div>
                          <div class="col-2">
                              <a href="" class=" icon-user-good pl-4 pt-2" data-smsid="填博客id和评论id" th:text="*{voteSize}">23</a>
                              <a href="#replyName" class="reply" th:name="*{formUser.name}" th:data-replyusername="*{formUser.username}">回复</a>
                              <span sec:authorize="isAuthenticated()">
                              <a  th:if="*{content}!='[系统提示：改评论内容已被删除！]'" class="delCommentId" th:attr="data-commentId=*{id}" >删除</a>
                              </span>
                          </div>
                      </div>
                  </div>

              </div>
              </div>
            </div>

            <div class="form-group clearfix">
              <hr>
              <label >发表评论</label>
                <div>
                    <input type="text" name="replyName" id="replyName" readonly style="border: 0" value="回复：">
                    <input type="text" id="replyRealyName" readonly style="display: none">
                    <a id="cancelReply" class=" badge badge-light" style="display: none;">取消@</a>
                </div>
              <textarea class="form-control " id="commentContent" rows="4" maxlength="100" placeholder="请控制在100字内"></textarea>
               <button style="float:right;" type="button" class=" btn btn-outline-success mt-2 btn-sm" id="submitComment">发布</button>
            </div>
          </div>
        </div>

    <div class="rightcontent col-3  m-2" style="text-align:center">
      <div class="bg-white p-3 mb-3 shadow-sm">
            <div class="mb-3 ">
              <a href="">
              <img src="../../../images/test.png" alt="" id="rightavter" class="avatar-100 m-auto"  style="display:block;">
              </a>
            </div>
            <div  class="mb-2 text-secondary">
            <span>邮箱：958310042@qq.com</span>
            </div>
            <div   class="mb-2 text-secondary">
            <span>用户名</span>
            </div>
            <input type="button" class="btn btn-outline-primary btn-sm mb-3" value="更改个人信息">
      </div>



      <div class="bg-white p-2 shadow-sm">
        <div class="card" style="">
          <div class="card-header">
            提醒
          </div>
        </div>
        <div class="card" style="">
          <div class="card-header">
            我的分区
          </div>
        </div>
        <div class="card" style="">
          <div class="card-header">
            收藏列表
          </div>
          <!-- <ul class="list-group list-group-flush">
            <li class="list-group-item">
              
                  <span style="display:inline-block;width: 7rem;">技士大夫圣</span>
                  <span>
                    <input type="button" value="改" class="btn btn-outline-primary btn-sm ">
                    <input type="button" value="删" class="btn btn-outline-primary btn-sm ">
                  </span>
                </tr>
              </table>
            </li>
            <li class="list-group-item">
              
                  <span style="display:inline-block;width: 7rem;">技士大夫圣</span>
                  <span>
                    <input type="button" value="改" class="btn btn-outline-primary btn-sm ">
                    <input type="button" value="删" class="btn btn-outline-primary btn-sm ">
                  </span>
                </tr>
              </table>
            </li>
          </ul> -->
        </div>
      </div>

        </div>
    </div>
  </div>










    <div th:replace="~{fragments/footer :: footer}">...</div>

    <script type="text/javascript" >
        var blogId = [[${blog.id}]];
        var blogUrl = '/u/' + '[[${blog.user.username}]]' + '/blogs/' + [[${blog.id}]];

    $(function() {
            // 获取评论列表
            function getCommnet(blogId) {
                // 获取 CSRF Token
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");

                $.ajax({
                    url: '/comments',
                    type: 'GET',
                    data: {"blogId": blogId},
                    beforeSend: function (request) {
                        request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                    },
                    success: function (data) {
                        $("#mainContainerRepleace").html(data);

                    },
                    error: function () {
                        toastr.error("error!");
                    }
                });
            };

        //删除微博
        $("#delBlogBut").click(function () {
          layer.confirm('您确定要删除本条微博吗？', {
            btn: ['是的', '算了'] //按钮
          }, function () {
            //layer.msg('的确很重要', {icon: 1});
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
              url: blogUrl,
              type: 'DELETE',
              beforeSend: function (request) {
                request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
              },
              success: function (result) {
                if (result.code == "0") {
                  // 成功后，重定向
                  // window.location = data.body;
                  window.location = result.data;
                  //toastr.success(result.data);
                } else {
                  toastr.error(result.msg);
                }
              },
              error: function () {
                toastr.error("error!");
              }
            });
          }, function () {
            //算了
          })
        });


        //删除评论
        $(document).on("click",".delCommentId",function(){
            var th = $(this).parent().prev();
            var commemtId = $(this).attr("data-commentId");
            layer.confirm('确定删除评论内容吗？', {
                btn: ['是的', '算了'] //按钮
            }, function (index) {
                //layer.msg('的确很重要', {icon: 1});
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                $.ajax({
                    url: '/comments/'+commemtId,
                    type: 'DELETE',
                    beforeSend: function (request) {
                        request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                    },
                    success: function (result) {
                        layer.close(index);
                        if (result.code == 0) {
                            // window.location = result.data;
                            th.html("[系统提示：改评论内容已被删除！]");
                        } else {
                            toastr.error(result.msg);
                        }

                    },
                    error: function () {
                        layer.close(index);
                        toastr.error("error!");
                    }
                });
            }, function () {
                //算了
            })
        })



        $(document).on("click",".reply",function(){

            $("#replyName").attr("value","回复：@"+$(this).attr("name"));
            $("#cancelReply").show();
            $("#replyRealyName").attr("value",$(this).attr("data-replyusername"));
        })

        $(document).on("click","#cancelReply",function(){

            $("#replyName").attr("value","回复：");
            $("#replyRealyName").attr("value","");
            $("#cancelReply").hide();
        })

    $(".icon-good").click(function(){
      alert($(this).attr('data-smsid'));
    });

    $(".icon-collect").click(function(){
      alert($(this).attr('data-smsid'));
    });

        // 提交评论
        $(".container").on("click","#submitComment", function () {
            if($('#commentContent').val()==""){
                toastr.error("评论内容不能为空");
                return;
            }
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                url: '/comments',
                type: 'POST',
                data:{
                    "blogId":blogId,
                    "commentContent":$('#commentContent').val(),
                    "toUserName":$("#replyRealyName").val()
                },
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code == "0") {
                        toastr.success(result.data);
                        // 清空评论框
                        $('#commentContent').val('');
                        // 获取评论列表
                        getCommnet(blogId);
                    } else {
                        toastr.error("请先登录!");
                    }
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        });


        // 提交点赞
        $(document).on("click","#blogSubmitVote", function () {
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: '/votes',
                type: 'POST',
                data:{"blogId":blogId},
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code==0) {
                        //toastr.info(result.data);
                        // 成功后，重定向
                        window.location = blogUrl;
                    } else {
                        toastr.error(result.msg);
                    }
                },
                error : function() {
                    //toastr.error("error!");
                    toastr.error("请先登录!");
                }
            });
        });

        // 取消点赞
        $(document).on("click","#blogCancelVote", function () {
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: '/votes/'+$(this).attr('voteId')+'?blogId='+blogId,
                type: 'DELETE',
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code==0) {
                        //toastr.info(result.data);
                        // 成功后，重定向
                        window.location = blogUrl;
                    } else {
                        toastr.error(result.msg);
                    }
                },
                error : function() {
                    toastr.error("error!");
                }
            });
        });

        // 初始化 博客评论
        getCommnet(blogId);
        })
    </script>
  </body>
</html>