<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:replace="~{fragments/header :: header}">

</head>
<body class="bg-light">
<style>
    a{
        color: #888;
    }
</style>


<div class="container">
    <div class="row justify-content-center" >


        <div class="rightcontent col-3 m-2 p-3 border-right border-left">
            <ul compact="nav flex-column">
                <li class="nav-link border-bottom">
                    <a href="">所有分区</a>
                </li>
                <li class="nav-link border-bottom">
                    <a href="">我关注的分区</a>
                </li>
                <li class="nav-link border-bottom">
                    <a href="">分区成员</a>
                </li>
                <li class="nav-link border-bottom">
                    <a href="">提议新建分区</a>
                </li>
            </ul>
        </div>


        <div class="col-7 bg-white m-2 " >

            <div class="alert alert-success" role="alert">
                <a href="#" class="badge badge-info mr-1">默认分区</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">默认分区</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">默认分区</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">默认分区</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">默认分区</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <a href="#" class="badge badge-info mr-1">分区名</a>
                <div>当前分区：again
                    <a href="#" class="badge badge-warning mr-1">关注</a>
                    <a href="#" class="badge badge-warning mr-1">取消关注</a>
                </div>
            </div>

            <div class="clearfix border-right:">
                <div class="shadow " style="float:right;">
                    <a href="" class=" text-success" >按热度排序</a><span class="text-success"> | </span>
                    <a href="" class=" text-success" >按时间排序(默认)</a>
                </div>
            </div>


            <div class=" border-bottom ">
                <div class="container">
              <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称</a></div>
                <div><small class="text-muted">用户名</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称gsdfgdffdhfh</a></div>
                <div><small class="text-muted">用户名dfgfddsg</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称</a></div>
                <div><small class="text-muted">用户名</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称gsdfgdffdhfh</a></div>
                <div><small class="text-muted">用户名dfgfddsg</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称</a></div>
                <div><small class="text-muted">用户名</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称gsdfgdffdhfh发gdsgsgsgf发</a></div>
                <div><small class="text-muted">用户名dfgfddsg</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称</a></div>
                <div><small class="text-muted">用户名</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                    <span class="text-center shadow"  style="display: inline-block;width: 140px;">
                <a><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                <div><a href="" class="text-success">昵称gsdfgdffdhfh</a></div>
                <div><small class="text-muted">用户名dfgfddsg</small></div>
                <div><small class="text-muted">信誉度：</small></div>
              </span>
                </div>
            </div>

        </div>

    </div>
</div>







<div th:replace="~{fragments/footer :: footer}">...</div>
<script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>

<script type="text/javascript" >



</script>


</body>
</html>