<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../js/layer/layer.js" th:src="@{/js/layer/layer.js}"></script>
    <script>
        toastr.options = {

            "closeButton": false, //是否显示关闭按钮

            "debug": false, //是否使用debug模式

            "positionClass": "toast-center-center",//弹出窗的位置

            "showDuration": "200",//显示的动画时间

            "hideDuration": "500",//消失的动画时间

            "timeOut": "1000", //展现时间

            "extendedTimeOut": "1000",//加长展示时间

            "showEasing": "swing",//显示时的动画缓冲方式

            "hideEasing": "linear",//消失时的动画缓冲方式

            "showMethod": "fadeIn",//显示时的动画方式

            "hideMethod": "fadeOut" //消失时的动画方式
        };

        $("#resetEditBlog").click(function (){resetEditBlog()});

        function resetEditBlog(){
                $("#blogEditTitle").val("");
                $("#blogEditSummary").val("");
                $("#blogEditPartition").val("");
                $("#imgPreview").empty();
                $("#fileUploadForm")[0].reset();
        }

        $("#postEditBlog").click(function (){

            var arr=[];
            $("#imgPreview img").each(function(){
                var src=$(this).attr("src");
                arr.push(src);
            });
            // 获取 CSRF Token
            var csrfToken = $("meta[name='_csrf']").attr("content");
            var csrfHeader = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: '/u/'+ $("#navusername").text() + '/blogs/edit',
                type: 'POST',
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                traditional: true,
                data: {
                    id: $('#blogId').val(),
                    title: $('#blogEditTitle').val(),
                    summary: $('#blogEditSummary').val(),
                    // "partition":$('#blogEditPartition').val(),
                    fileURL: arr,
                },
                beforeSend: function(request) {
                    request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                },
                success: function(result){
                    if (result.code=="0") {
                        // 成功后，重定向
                        //window.location = data.body;
                        toastr.success(result.data);
                        resetEditBlog();
                        $("#closeEditBlog").click();
                        window.location.reload();
                    } else {
                        toastr.error("服务器result："+result.msg);
                    }

                },
                error : function() {
                    toastr.error("error!");
                }
            })
        })

        $("#fileUpload").change(function () {
                if($(this).val() != ""){
                    var imglist=$("#imgPreview img");
                    if (imglist.length+$("#fileUpload")[0].files.length>8){
                        toastr.warning("图片数量请不要超过八张");
                        return;
                    }
                    if (imglist.length+$("#fileUpload")[0].files.length==8){
                        $("#fileUploadSpan").hide();
                    }
                    var csrfToken = $("meta[name='_csrf']").attr("content");
                    var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                    var formdata=new FormData();
                    for (var i=0;i<$("#fileUpload")[0].files.length;i++) {
                        formdata.append("files",$("#fileUpload")[0].files[i]);
                    }
                    $.ajax({
                        url:"/blogs/uploadPictures",
                        type:"post",
                        data:formdata,
                        processData:false,
                        contentType:false,
                        beforeSend: function(request) {
                            request.setRequestHeader(csrfHeader, csrfToken); // 添加  CSRF Token
                        },
                        success:function(result){
                            var dvPreview = $("#imgPreview");
                            $.each(result.data,function(index,items){
                                var img = $("<img class='bigbigpicture shadow' />");
                                img.attr("src", items.compressPath);
                                dvPreview.append(img);
                            });
                        },
                        error:function(e){
                            toastr.error("发生未知错误！！");
                        }
                    });
                }
                $("#fileUploadForm")[0].reset();
                //$("#fileUpload").replaceWith('<input id="fileUpload"  type="file" multiple="multiple" accept="image/gif,image/jpeg,image/jpg,image/png">');
        });


        $(document).on("click", ".bigbigpicture", function () {
                var src = $(this).attr('src');
                var realpath = src.substring(src.lastIndexOf('/'),src.lastIndexOf('g')+1);
                //自定页
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-img', //样式类名
                        closeBtn: 0, //不显示关闭按钮
                        anim: 2,
                        title: false, //不显示标题
                        shadeClose: true, //开启遮罩关闭
                        content: "<img src='"+realpath+"'/>",
                        success:function(layero,index){
                            layer.style(index, {
                                top: '50%',
                                transform:'translateY(-50%)'
                            });
                        }
                    });
        })



    </script>
</footer>

</body>
</html>