<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" data-th-fragment="header">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <title>404</title>

    <style>
	.mar{
		width: 650px;
		margin: 100px auto;
		text-align: center;
	}

    </style>

  </head>
  <body class="bg-light">
      <div class="mar">
      	<img th:src="@{/images/fenghao.png}" >
      	<p><a href="#"></a></p>
      </div>
  </body>
</html>