<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head  th:replace="~{fragments/header :: header}">

  </head>
  <body class="bg-light">

    <div class="container">
      <div class="row justify-content-center" >
        <div class="col-7 bg-white m-2 " >
          <div class="clearfix border-right:">
            <div class="shadow " style="float:right;">
              <a href="" class=" text-success" >按热度排序</a><span class="text-success"> | </span>
              <a href="" class=" text-success" >按时间排序(默认)</a>
            </div>
          </div>
          <div class=" m-2 border-bottom pb-2">
            <div class="container">
              <div class="row">
                <div class="col-9" style="padding:0">
                  <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                  <a href="" class="ml-3 text-success">这是姓名</a>
                </div>
                <div class="col-3  mt-2">
                  <small class="">2010.09.04-14:20</small>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <h3><a href="" class="text-dark">标题</a></h3>
              <p>简介：三生三世嗖嗖嗖所所所所所所所所付所付多所过多付过的孙菲菲是的富商大贾都十点半V型的三国杀广东省高手高手</p>
              <div class="itemimg">
                <img src="images/test.png" alt="" data-realsrc="./images/test.png">
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <br>
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
              </div>
              <div class="row pl-3 pt-2 pb-1">
              <a href="" class=" icon-good pl-4" data-smsid="填短讯id">222</a>
              <a href="" class=" icon-collect pl-4 ml-5" data-smsid="填短讯id"></a>
              <a href="" class=" icon-commit pl-4 ml-5" data-smsid="填短讯id">52</a>
              </div>
              <div class="container text-commit">
                  <div class="row border-left">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-9">
                    的发顺丰水电费水电费水电
                  </div>
                  <div class="col-1">
                    
                    <a href="" class=" icon-good pl-4 pt-2" data-smsid="填短讯id和评论id">23</a>
                  </div>
                  </div>

                  <div class="row border-left mt-2">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-9">
                    的发顺丰水电费水电费水电费水电费都是防守打法垫付多少是车新不新错不做不多付说所付多或或或或或或或或或或或或11
                  </div>

                  <div class="col-1">
                    
                    <a href="" class=" icon-good pl-4 pt-2" data-smsid="填短讯id和评论id">23</a>
                  </div>
                  </div>
              </div>
            </div>
          </div>

          
          <div class=" m-2 border-bottom pb-2">
            <div class="container">
              <div class="row">
                <div class="col-9" style="padding:0">
                  <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                  <a href="" class="ml-3 text-success">这是姓名</a>
                </div>
                <div class="col-3  mt-2">
                  <small class="">2010.09.04-14:20</small>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <h3><a href="" class="text-dark">标题</a></h3>
              <p>简介：三生三世嗖嗖嗖所所所所所所所所付所付多所过多付过的孙菲菲是的富商大贾都十点半V型的三国杀广东省高手高手</p>
              <div class="itemimg">
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <br>
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
              </div>
              <div class="row pl-3 pt-2 pb-1">
              <a href="" class=" icon-good pl-4">222</a>
              <a href="" class=" icon-collect pl-4 ml-5"></a>
              <a href="" class=" icon-commit pl-4 ml-5">52</a>
              </div>

              <div class="container text-commit">
                  <div class="row border-left">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-10">
                    的发顺丰水电费水电费水电
                  </div>
                  </div>

                  <div class="row border-left mt-2">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-10">
                    的发顺丰水电费水电费水电费水电费都是防守打法垫付多少是车新不新错不做不多付说所付多或或或或或或或或或或或或11
                  </div>
                  </div>
              </div>
            </div>
          </div>

          
          <div class=" m-2 border-bottom pb-2">
            <div class="container">
              <div class="row">
                <div class="col-9" style="padding:0">
                  <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50"></a>
                  <a href="" class="ml-3 text-success">这是姓名</a>
                </div>
                <div class="col-3  mt-2">
                  <small class="">2010.09.04-14:20</small>
                </div>
              </div>
            </div>

            <div class="pt-2">
              <h3><a href="" class="text-dark">标题</a></h3>
              <p>简介：三生三世嗖嗖嗖所所所所所所所所付所付多所过多付过的孙菲菲是的富商大贾都十点半V型的三国杀广东省高手高手</p>
              <div class="itemimg">
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
                <img src="./images/test.png" alt="" >
              </div>
              <div class="row pl-3 pt-2 pb-1">
              <a href="" class=" icon-good pl-4">222</a>
              <a href="" class=" icon-collect pl-4 ml-5"></a>
              <a href="" class=" icon-commit pl-4 ml-5">52</a>
              </div>

              <div class="container text-commit">
                  <div class="row border-left">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-10">
                    的发顺丰水电费水电费水电
                  </div>
                  </div>

                  <div class="row border-left mt-2">
                  <div class="col-2" style="padding:0">
                    <div>
                      <a href=""><img src="./images/avatarboy.png" alt="" class="avatar-50-co"></a>
                      <a href="" class=" text-success">评论姓名</a>
                    </div>
                    <div >
                      <small>2010.09.04-14:20</small>
                    </div>

                  </div>
                  <div class="col-10">
                    的发顺丰水电费水电费水电费水电费都是防守打法垫付多少是车新不新错不做不多付说所付多或或或或或或或或或或或或11
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

        <div class="rightcontent col-3 m-2 p-3 " style="text-align:center">
          <div class="bg-white p-3 mb-3 shadow-sm">
            <div class="mb-3 ">
              <a href="">
                <img src="./images/test.png" alt="" id="rightavter" class="avatar-100 m-auto"  style="display:block;">
              </a>
            </div>
            <div  class="mb-2 text-secondary">
              <span>邮箱：958310042@qq.com</span>
            </div>
            <div   class="mb-2 text-secondary">
              <span>用户名</span>
            </div>
            <input type="button" class="btn btn-outline-primary btn-sm mb-3" value="更改个人信息">
          </div>



          <div class="bg-white p-2 shadow-sm">
            <div class="card" style="">
              <div class="card-header">
                提醒
              </div>
            </div>
            <div class="card" style="">
              <div class="card-header">
                我的分区
              </div>
            </div>
            <div class="card" style="">
              <div class="card-header">
                收藏列表
              </div>
            </div>
            <div class="card" style="">
              <div class="card-header">
                分区管理
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>







    <div th:replace="~{fragments/footer :: footer}">...</div>
<!--    <script src="../js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<!--    <script src="../js/layer/layer.js"></script>-->


    <script type="text/javascript" >
    $(".itemimg").on("click","img",function(){

     
      //console.log($(this).attr("data-realsrc"));
      //自定页

      layer.open({
        type: 1,
        area: 'auto',
        maxWidth: 1000,
        skin: 'layui-layer-img', //样式类名
        closeBtn: 0, //不显示关闭按钮
        anim: 2,
        title: false, //不显示标题
        shadeClose: true, //开启遮罩关闭
        content: '<img src="'+$(this).attr('data-realsrc')+'"/>'
      });
    })



    $(".icon-good").click(function(){
      alert($(this).attr('data-smsid'));
    })

    $(".icon-collect").click(function(){
      alert($(this).attr('data-smsid'));
    })
    </script>
  </body>
</html>